@media (max-width: 1115px) {
  body {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  header {
    padding: 0;
    width: 100%;
  }

  .ul {
    display: none;
  }

  .head-container h1 {
    font-size: 3.5rem;
  }
  .div-head ul {
    display: contents;
    display: flex;
    flex-direction: column;
    grid-area: div-head;
  }

  .div-head img {
    height: 10px;
    width: 50px;
    margin-bottom: 20px;
  }

  main {
    height: auto;
    width: 100%;
  }
  .main-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "main-div1"
      "main-div1"
      "main-div2";
  }

  .main-div1 {
    width: 100%;
    height: auto;
    grid-area: main-div1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "main-d1"
      "main-d2-d3";
    margin-bottom: 20px;
  }

  .main-d1 {
    width: auto;
    height: auto;
  }
  .main-d1 img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .main-d1 {
    overflow: visible;
  }
  .main-d2-d3 {
    display: flex;
    flex-direction: column;
    grid-area: main-d2-d3;
  }

  .main-d2 {
    width: auto;
    height: auto;
  }

  .main-d2 h2 {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 800;
    margin-bottom: 30px;
  }

  .main-d3 {
    width: auto;
    height: auto;
  }

  .main-d3 p {
    margin-bottom: 50px;
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 800;
  }

  .main-d3 button {
    background: #f15d51;
    width: 250px;
    height: 70px;
    font-weight: 700;
    letter-spacing: 5px;
    padding: 0;
  }

  .main-div2 {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
  }

  .main-div2 h2 {
    color: #e9aa52;
    font-size: 70px;
    height: 40px;
    margin-bottom: 100px;
  }

  .main-div2 p,
  span {
    margin-bottom: 50px;
  }

  .main-div2 p {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1.5px;
    color: #e8e8e8;
  }

  .main-div2 h3 {
    font-size: 30px;
  }
  .main-div2 span {
    height: 2px;
    width: 100%;
    background-color: #686868;
  }

  section {
    display: flex;
    justify-content: none;
  }

  .section-container {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "section-div1"
      "section-div2"
      "section-div3";
    gap: 40px;
  }

  .section-container img {
    width: 200px;
    height: 250px;
  }

  .section-div1,
  .section-div2,
  .section-div3 {
    width: 100%;
    height: auto;
  }

  .section-d1 {
    width: fit-content;
  }
  .section-d11 {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .section-d2 {
    width: fit-content;
  }
  .section-d22 {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .section-d3 {
    width: fit-content;
  }
  .section-d33 {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .section-d11,
  .section-d22,
  .section-d33,
  h2 {
    font-size: 3rem;
    margin-bottom: 100px;
  }

  .section-d11,
  .section-d22,
  .section-d33,
  p {
    color: #00001a;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .section-d11,
  .section-d22,
  .section-d33,
  span {
    font-size: 1rem;
    color: #686868;
  }
}

@media (max-width: 750px) {
  .head-container ul {
    display: none;
  }

  .div-head {
    display: contents;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .div-head div {
    height: 10px;
  }

  .div-head img {
    height: 2px;
  }

  .main-d3 button {
    background: #f15d51;
    width: 150px;
    height: 50px;
  }

  .main-div2 h2 {
    color: #e9aa52;
    font-size: 40px;
    height: 20px;
    margin-bottom: 50px;
  }

  .main-div2 p,
  span {
    margin-bottom: 30px;
  }

  .main-div2 p {
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1.5px;
    color: #e8e8e8;
  }

  .main-div2 h3 {
    font-size: 20px;
  }

  .section-d11,
  .section-d22,
  .section-d33,
  h2 {
    font-size: 3rem;
    margin-bottom: 30px;
  }

  .section-container img {
    width: 150px;
    height: 200px;
  }
}
